name: ci

on:
  push:
  pull_request:

permissions:
  contents: read
  packages: write        

jobs:
  policy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      
      - name: Run policy gate (non-prod default)
        run: python scripts/policy_check.py

#     - name: Log in to GHCR
#       run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

#     - name: Build and push image
#       run: |
#         IMAGE=ghcr.io/${{ github.repository }}/policy-gate:${{ github.sha }}
#         docker build -t $IMAGE .
#         docker push $IMAGE

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::490159260943:role/github-actions-terraform
          aws-region: eu-west-2
          
      - name: Login to Amazon ECR
        run: aws ecr get-login-password --region eu-west-2 | docker login --username AWS --password-stdin ${{ steps.ecr.outputs.registry }}

      - name: Login to Amazon ECR
        id: ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push image to ECR
        run: |
          IMAGE=${{ steps.ecr.outputs.registry }}/policy-gate:${{ github.sha }}
          docker build -t $IMAGE .
          docker push $IMAGE
          
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.6"

      - name: Terraform fmt (check)
        working-directory: infra
        run: terraform fmt -check -recursive

      - name: Terraform init
        working-directory: infra
        run: terraform init

      - name: Terraform validate
        working-directory: infra
        run: terraform validate

      - name: Terraform plan
        working-directory: infra
        run: terraform plan -no-color
          
